body{
  font-family: "Open Sans", Trebuchet MS, Helvetica, sans-serif;
  font-size: 16px;
}

h1{
  padding: 0px 30px 0px 30px;
  font-size: 24px;
}

table {
  border-collapse: collapse;
}

td {
  padding: 3px;
  height: 30px;
  min-width: 77px;
}

input {
    max-width: 90px;
}

input[type=number] {
    border: none;
    font-size: 16px;
    outline: none;
}
input[type=number].optionInput{
  border-bottom: 1px solid #B01A1F;
  color:#B01A1F;
}
input[type=number].optionInput:focus{
  border: 1px solid #B01A1F;
}
input[type=number].stockInput{
  border-bottom: 1px solid #E12529;
  color:#E12529;
}
input[type=number].stockInput:focus{
  border: 1px solid #E12529;
}
input[type=number].futureInput{
  border-bottom: 1px solid #808080;
  color:#808080;
}
input[type=number].futureInput:focus{
  border: 1px solid #808080;
}

td img {
  vertical-align: top;
  height: 22px;
}


#myChart{
  margin-top:30px;
}

.half {
    float: left;
    margin: 5px;
    padding: 5px;
}

.blackRow {
  background-color: black;
  color: white;
}

.hiddenRow {
  display:none;
}

.twBackground{
  background-color:#EBEDED;
}

.bold, .good, .bad, .Category{
  font-weight: bold;
}

.brokerCell, tr td:nth-child(n+2), input {
  text-align: center;
}

.brokerCell {
  padding-left: 15px;
  padding-right: 15px;
}

.tdLeft {
  text-align: left !important;
  padding-left: 15px;
  min-width:250px;
}

.good{
  color:#5DB101;
}

.bad{
  color:#E12529;
}

.Category{
  width: 100px;
  margin: 0 auto;
  text-align:center;
}

.optionCategory {
  color: white;
  background-color: #B01A1F;
}
.optionFirstRow {
  border-top: 1px solid #B01A1F;
}

.stockCategory {
  color: white;
  background-color: #E12529;
}
.stockFirstRow {
  border-top: 1px solid black;
}

.futureCategory {
  color: white;
  background-color: #808080;
}
.futureFirstRow {
  border-top: 1px solid black;
}

.futureOptionCategory {
  color: white;
  background-color: #444444;
}

.futureOptionRow {
  display: none;
}

.onoffswitch {
    position: relative; width: 100%;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Yes";
    padding-left: 10px;
    background-color: #808080; color: #FFFFFF;
    text-align: left;
}
.yes-bad.onoffswitch-inner:before {
    background-color: #E12529; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "No";
    padding-right: 10px;
    background-color: #E12529; color: #FFFFFF;
    text-align: right;
}
.yes-bad.onoffswitch-inner:after {
    background-color: #808080; color: #FFFFFF;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 66px;
    border: 2px solid #FFFFFF; border-radius: 0px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
